# Datan analysointi K2020_2 - Tehtävät kerta 4

Palauta Optiman palautuslaatikkoon viimeistään su 1.3. Kirjoita palautuslaatikon kommenttikenttään, mitkä tehtävät olet tehnyt kokonaan/osittain.

**Opiskelijan nimi:**

## 1. Yhdistäminen

Tiedostossa https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/pyorat.txt on kesältä 2017 tietoja vapaana olevien kaupunkipyörien määristä neljästä telineestä Helsingistä (keskiarvot tunneittain).

Tiedostossa https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/helsinki2017.csv on vastaavalta ajalta säähavaintoja Helsingin Kaisanimestä. 

Lue molemmat tiedosto omiin DataFrameihinsa ja yhdistä DataFramet järkevästi, siten että molempien datojen vastaavat tunnit on samalla rivillä.


Tee yhdistäminen niin, että kaikki tunnit jotka on jommassa kummassa tiedostossa, on mukana yhdistetyssä DataFramessa (pyörädatasta puuttuu tunteja välistä).


Poista mahdolliset ylimääräiset sarakkeet siten, että kk/pv/tunti -tiedot eivät ole kahdesti.

In [1]:
import pandas as pd
df1 = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/pyorat.txt')
df1.rename(columns={'Month': 'Kk', 'Day': 'Pv', 'Hour':'Klo'}, inplace=True)


                
df2 = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/helsinki2017.csv')
df2['Klo'] = (df2['Klo'].str.split(':').str.get(0)).astype(int)

df3=pd.merge(df1,df2, how='outer', on=['Klo','Pv','Kk'])
df3.tail(50)

,Kk,Pv,Klo,Sammonpuistikko,Hietaniemenkatu,Eteläinen Hesperiankatu,Kesäkatu,rivi,Pilvien määrä (1/8),Suhteellinen kosteus (%),Sateen intensiteetti (mm/h),Ilman lämpötila (degC)
1414,7,30,20,1.083333,1.500000,4.583333,9.750000,1436,0,84,0.0,17.5
1415,7,30,21,1.583333,1.250000,4.833333,14.166667,1437,0,86,0.0,17.0
1416,7,30,22,4.333333,1.416667,1.083333,7.083333,1438,0,87,0.0,16.5
1417,7,30,23,6.500000,0.583333,1.166667,7.000000,1439,0,90,0.0,16.2
1418,7,31,0,5.833333,0.000000,2.000000,7.000000,1440,5,94,0.0,16.6
1419,7,31,1,6.916667,0.000000,2.000000,7.000000,1441,7,93,0.0,16.8
1420,7,31,2,8.000000,0.000000,2.000000,7.000000,1442,8,93,0.0,16.9
1421,7,31,3,9.000000,0.000000,2.000000,7.000000,1443,8,95,0.0,16.3
1422,7,31,4,10.333333,0.000000,2.000000,7.000000,1444,8,94,0.0,16.4
1423,7,31,5,11.000000,0.000000,2.000000,7.000000,1445,8,90,0.0,16.7
1424,7,31,6,10.166667,0.083333,2.750000,6.833333,1446,8,88,0.0,16.9
1425,7,31,7,9.250000,1.000000,0.916667,6.833333,1447,3,81,0.0,18.2
1426,7,31,8,3.583333,0.416667,1.166667,7.000000,1448,7,85,0.0,18.2
1427,7,31,9,0.250000,0.250000,0.166667,8.416667,1449,8,87,0.0,17.7
1428,7,31,10,2.500000,1.166667,0.250000,6.500000,1450,7,88,0.0,18.0
1429,7,31,11,2.166667,2.500000,1.500000,4.083333,1451,7,88,0.0,18.2
1430,7,31,12,1.833333,2.166667,5.833333,3.333333,1452,8,93,0.0,18.9
1431,7,31,13,3.250000,4.000000,3.916667,3.166667,1453,7,86,0.0,19.8
1432,7,31,14,4.083333,3.500000,3.250000,1.166667,1454,3,82,0.0,20.8
1433,7,31,15,5.833333,2.750000,4.333333,0.000000,1455,0,72,0.0,21.5
1434,7,31,16,11.583333,1.916667,8.833333,0.083333,1456,5,73,0.0,20.6
1435,7,31,17,8.166667,3.750000,11.833333,2.916667,1457,1,76,0.0,20.3
1436,7,31,18,1.363636,4.909091,13.090909,3.727273,1458,1,82,0.0,19.3
1437,7,31,19,1.166667,9.250000,13.083333,6.333333,1459,0,86,0.0,18.2
1438,7,31,20,0.666667,11.500000,9.416667,1.916667,1460,0,85,0.0,17.5
1439,7,31,21,3.416667,11.000000,8.333333,0.583333,1461,0,86,0.0,17.2
1440,7,31,22,4.666667,6.083333,8.583333,1.333333,1462,0,89,0.0,17.0
1441,7,31,23,2.500000,7.000000,3.416667,0.166667,1463,0,89,0.0,17.0
1442,6,2,11,NaN,NaN,NaN,NaN,35,7,53,0.0,8.6
1443,6,2,12,NaN,NaN,NaN,NaN,36,7,57,0.0,8.3
1444,6,2,13,NaN,NaN,NaN,NaN,37,7,57,0.0,8.6
1445,6,2,14,NaN,NaN,NaN,NaN,38,7,59,0.0,8.4
1446,6,2,15,NaN,NaN,NaN,NaN,39,7,65,0.0,7.5
1447,7,28,0,NaN,NaN,NaN,NaN,1368,8,89,0.0,17.9
1448,7,28,1,NaN,NaN,NaN,NaN,1369,7,95,0.9,17.0
1449,7,28,2,NaN,NaN,NaN,NaN,1370,8,96,0.4,17.3
1450,7,28,3,NaN,NaN,NaN,NaN,1371,8,97,0.0,17.5
1451,7,28,4,NaN,NaN,NaN,NaN,1372,7,97,0.0,17.7
1452,7,28,5,NaN,NaN,NaN,NaN,1373,7,96,0.0,18.2
1453,7,28,6,NaN,NaN,NaN,NaN,1374,3,92,0.0,18.8
1454,7,28,7,NaN,NaN,NaN,NaN,1375,7,89,0.0,19.0
1455,7,28,8,NaN,NaN,NaN,NaN,1376,3,81,0.0,20.9
1456,7,28,9,NaN,NaN,NaN,NaN,1377,0,74,0.0,22.0
1457,7,28,10,NaN,NaN,NaN,NaN,1378,0,66,0.0,22.8
1458,7,28,11,NaN,NaN,NaN,NaN,1379,1,66,0.0,22.4
1459,7,28,12,NaN,NaN,NaN,NaN,1380,7,71,0.0,21.4
1460,7,28,13,NaN,NaN,NaN,NaN,1381,5,67,0.0,22.8
1461,7,28,14,NaN,NaN,NaN,NaN,1382,5,71,0.0,21.7
1462,7,28,15,NaN,NaN,NaN,NaN,1383,7,83,0.0,18.9
1463,7,28,16,NaN,NaN,NaN,NaN,1384,8,85,0.0,17.7

## 2. Ristiintaulukointia
Tiedostossa https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/kysely.csv on kuvitteellisen henkilöstökyselyn tuloksia.

Dataan on koodattu koulutus-kenttään numeroilla:  
* 1 = peruskoulu
* 2 = toisen asteen koulutus
* 3 = korkeakoulu
* 4 = ylempi korkeakoulu

TyytJohto ja TyytTyöteht -kentät kuvaavat tyytyväisyyttä johtoon ja työtehtäviin asteikolla 1-5.   

työterveys, liikunta ja lomaosake-kentät sisältävät ykkösen jos vastaaja on käyttänyt näitä palveluita, muuten NaN

Ristiintaulukoi/pivotoi/koosta seuraavat jutut:  
* lukumäärät siten, että riveillä perhesuhteet, sarakkeissa tyytyväisyys johtoon (lukumäärät, eli kuinka monta perheellistä on vastannut "tyytyväisyys johtoon"-kohtaan ykkösen jne.
  
  
* prosenttiosuudet siten, että riveillä koulutus tekstinä (esim peruskoulu), sarakkeissa tyytyväisyys työtehtäviin ( prosenttiosuudet 1 desimaalilla riveittäin eli esim montako % vain peruskoulun käyneistä vastaa 1 jne.) 
  
  
* keskiarvot tyytyväisyyksistä johtoon ja työtehtäviin siten, että riveillä on ikäluokka 20-29, 30-39, ... 60-69 ja (eri sarakkeissa) tyytyväisyydet johtoon ja työtehtäviin  
  
  
* kuinka monta prosenttia miehistä ja naisista on käyttäneet työterveys, liikunta ja lomaosake-palveluita  
malli tuloksesta
```
          liikunta lomaosake työterveys
sukupuoli                              
mies         24.6%     11.5%      57.4%
nainen       23.8%      9.5%      57.1%
```

In [167]:
import pandas as pd
df=pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/kysely.csv')

pd.crosstab(df['perhetilanne'],df['TyytJohto'])

TyytJohto     1  2   3   4  5
perhetilanne
perheellinen  3  9  17  17  5
perheetön     4  7  13   6  1

In [20]:
import pandas as pd

def koul(x):
    if x['koulutus']==1.0:return 'Peruskoulu'
    if x['koulutus']==2.0:return 'Toisen asteen koulutus'
    if x['koulutus']==3.0:return 'Korkeakoulu'
    if x['koulutus']==4.0:return 'Ylempi korkeakoulu'
    return 'Muu'

df=pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/kysely.csv')
df['koulutus']=df.apply(koul,axis=1)
pd.crosstab(df['koulutus'],df['TyytTyöteht'], margins=True, normalize='index').applymap("{:.1%}".format)

TyytTyöteht                 1       2      3      4      5
koulutus
Korkeakoulu              4.5%    9.1%  27.3%  54.5%   4.5%
Muu                      0.0%  100.0%   0.0%   0.0%   0.0%
Peruskoulu              11.1%   11.1%  48.1%  22.2%   7.4%
Toisen asteen koulutus   3.3%   26.7%  33.3%  23.3%  13.3%
Ylempi korkeakoulu       0.0%   50.0%   0.0%   0.0%  50.0%
All                      6.1%   18.3%  35.4%  30.5%   9.8%

In [169]:
import pandas as pd
df=pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/kysely.csv')

rajat = [20,30,40,50,60,70]
luokat = ['20-29','30-39','40-49','50-59','60-69']
df['ikäluokka'] = pd.cut(df['ikä'],rajat, labels=luokat, right = False)
df.pivot_table(['TyytJohto','TyytTyöteht' ],index=['ikäluokka']).applymap("{:.2}".format)

          TyytJohto TyytTyöteht
ikäluokka
20-29           3.1         3.1
30-39           2.9         3.1
40-49           2.9         3.2
50-59           3.8         3.5
60-69           2.0         5.0

In [2]:
import pandas as pd
df=pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/kysely.csv')
#pd.crosstab(df['sukupuoli'],df['liikunta'],df['lomaosake'],df['työterveys'])
#df
df2 = df.pivot_table(['liikunta','lomaosake','työterveys'], index='sukupuoli',aggfunc=sum)
df2

           liikunta  lomaosake  työterveys
sukupuoli
mies           15.0        7.0        35.0
nainen          5.0        2.0        12.0

## 3. Liikennelaskentaa

Tiedostossa
http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/lam.csv  
on automaattisen liikennelaskennan tietoja yhden kuukauden ajalta yhdestä Espoon mittauspisteestä. 

* rivinro
* päiväys
* suuntakoodi (1 tai 2) 
* ajoneuvoluokka
* tuntiväli
* määrä

Koosta/muokkaa taulukosta DataFrame, jossa on 24 riviä, yksi vuorokauden jokaiselle tunnille ja 30 saraketta kuukauden päiville, siten että DataFramessa on kyseisen tunnin ajoneuvomäärien summa (molemmat suunnat, kaikki ajoneuvoluokat). 

Mallia (otsikot voi vaihdella):  
![lam1](https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/malli1.png)

Laske sitten loppuun sarakkeet:
* suurin, joka kertoo kunkin tunnin suurimman ajoneuvomäärän 30 päivän joukosta
* sija, joka kertoo päivän 1 (1.11.2019) sijoituksen ko. tunnin ajoneuvomäärien suhteen 30 päivän joukossa (eniten = 1.)  
    (siis jos 00-01 -tunneista 1.11. on enemmän kuin minään muuna päivänä, sija = 1. Jos vähemmän kuin muina päivinä, sija = 30)

![lam2](https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/malli2.png)

In [23]:
import pandas as pd

df=pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/lam.csv')

df['päivä']=df['Pvm'].str[0:2].astype(int)
df['suurin']=df.max(axis=1)
df2 = df.pivot_table(['määrä'],index='tuntiväli',columns='päivä',aggfunc=sum)
df3=df2.T
df4=df3.rank(ascending=False).T
df4['sija']=df4['määrä'][1]
df2['suurin']=df2.max(axis=1)
df2['sija']=df4['sija']

df2

            määrä                                                          \
päivä           1       2       3       4       5       6       7       8
tuntiväli
00-01       183.0   278.0   321.0   140.0   156.0   160.0   172.0   185.0
01-02       124.0   169.0   265.0   135.0   104.0    96.0   102.0    97.0
02-03        84.0   145.0   147.0    53.0    78.0    80.0    69.0   104.0
03-04       108.0   118.0   109.0    87.0    86.0    83.0    91.0   101.0
04-05       217.0   157.0   128.0   229.0   204.0   219.0   203.0   221.0
05-06       914.0   267.0   171.0   987.0   955.0  1011.0   925.0   899.0
06-07      2541.0   388.0   259.0  2987.0  2920.0  2825.0  2802.0  2435.0
07-08      3160.0   509.0   334.0  3555.0  3601.0  3615.0  3486.0  2971.0
08-09      2601.0   875.0   520.0  3075.0  3107.0  3026.0  3176.0  2605.0
09-10      1919.0  1372.0   770.0  1964.0  1936.0  1943.0  1983.0  1763.0
10-11      1749.0  1651.0  1156.0  1544.0  1498.0  1585.0  1595.0  1597.0
11-12      1888.0  1951.0  1563.0  1476.0  1544.0  1598.0  1627.0  1695.0
12-13      2032.0  2056.0  1785.0  1544.0  1603.0  1551.0  1590.0  1985.0
13-14      2466.0  2064.0  2044.0  1659.0  1783.0  1809.0  1993.0  2333.0
14-15      3393.0  2066.0  2222.0  2236.0  2450.0  2319.0  2629.0  3202.0
15-16      4220.0  2151.0  2380.0  3557.0  3625.0  3774.0  3796.0  4034.0
16-17      4076.0  2071.0  2521.0  3680.0  3812.0  3881.0  3922.0  3800.0
17-18      3012.0  1887.0  2474.0  2579.0  2634.0  2670.0  2917.0  2858.0
18-19      2016.0  1547.0  2150.0  1497.0  1510.0  1662.0  1689.0  1870.0
19-20      1372.0  1311.0  1655.0  1057.0  1096.0  1163.0  1265.0  1403.0
20-21      1001.0  1072.0  1095.0   918.0   888.0   993.0  1006.0  1035.0
21-22       870.0   726.0   701.0   619.0   674.0   733.0   909.0   808.0
22-23       725.0   639.0   520.0   417.0   424.0   501.0   553.0   648.0
23-00       541.0   477.0   262.0   244.0   259.0   335.0   335.0   457.0

                           ...                                          \
päivä           9      10  ...      23      24      25      26      27
tuntiväli                  ...
00-01       361.0   319.0  ...   363.0   408.0   165.0   164.0   193.0
01-02       178.0   170.0  ...   199.0   254.0   105.0   134.0   115.0
02-03       129.0   127.0  ...   152.0   134.0    82.0    97.0    82.0
03-04       106.0    85.0  ...   126.0   123.0   148.0    95.0    88.0
04-05       140.0   118.0  ...   134.0   125.0   248.0   227.0   216.0
05-06       290.0   159.0  ...   273.0   163.0   964.0   972.0   962.0
06-07       372.0   192.0  ...   436.0   197.0  2973.0  2859.0  2872.0
07-08       507.0   222.0  ...   583.0   257.0  3504.0  3439.0  3489.0
08-09       865.0   338.0  ...   927.0   446.0  2989.0  3057.0  3023.0
09-10      1297.0   644.0  ...  1240.0   733.0  1953.0  1908.0  1833.0
10-11      1651.0  1227.0  ...  1589.0  1066.0  1510.0  1570.0  1466.0
11-12      1980.0  1665.0  ...  1855.0  1395.0  1533.0  1564.0  1563.0
12-13      2065.0  1981.0  ...  1975.0  1775.0  1533.0  1564.0  1630.0
13-14      2146.0  2186.0  ...  1968.0  1953.0  1693.0  1723.0  1698.0
14-15      2127.0  2211.0  ...  1963.0  2202.0  2197.0  2407.0  2354.0
15-16      2241.0  2420.0  ...  2092.0  2316.0  3171.0  3463.0  3548.0
16-17      2105.0  2701.0  ...  2026.0  2321.0  3296.0  3662.0  3664.0
17-18      1899.0  2548.0  ...  1885.0  2197.0  2634.0  2711.0  2792.0
18-19      1638.0  2280.0  ...  1481.0  1954.0  1615.0  1575.0  1606.0
19-20      1371.0  1951.0  ...  1232.0  1703.0  1010.0  1069.0  1146.0
20-21      1121.0  1658.0  ...   893.0  1085.0   929.0   915.0  1017.0
21-22       800.0   872.0  ...   693.0   750.0   630.0   798.0   801.0
22-23       592.0   529.0  ...   602.0   520.0   453.0   517.0   535.0
23-00       455.0   269.0  ...   764.0   287.0   190.0   282.0   333.0

                                   suurin  sija
päivä          28      29      30
tuntiväli
00-01       168.0   191.0   403.0   408.0  14.0
01-02       130.0   114.0   245.0   265.0  14.0
02-03        84.0    90.0   158.0   158.0  16.5
03-04       102.0    96.0   135.0   148.0   9.0
04-05       230.0   217.0   152.0   248.0  12.0
05-06       948.0   916.0   293.0  1011.0  17.5
06-07      2869.0  2520.0   382.0  3026.0  18.0
07-08      3425.0  2935.0   588.0  3615.0  17.0
08-09      2859.0  2577.0   861.0  3223.0  19.0
09-10      1926.0  1788.0  1170.0  1999.0  10.0
10-11      1542.0  1559.0  1511.0  1860.0   2.0
11-12      1576.0  1802.0  1681.0  2130.0   4.0
12-13      1659.0  2027.0  2000.0  2101.0   5.0
13-14      1861.0  2417.0  2012.0  2583.0   2.0
14-15      2466.0  3058.0  2024.0  3393.0   1.0
15-16      3586.0  3766.0  1976.0  4220.0   1.0
16-17      3796.0  3464.0  1938.0  4123.0   2.0
17-18      2865.0  2453.0  1726.0  3012.0   1.0
18-19      1836.0  1851.0  1466.0  2280.0   4.0
19-20      1329.0  1258.0  1142.0  1951.0   7.0
20-21      1026.0  1077.0   846.0  1658.0  16.0
21-22       810.0   946.0   678.0   946.0   6.0
22-23       535.0   681.0   654.0   879.0   3.0
23-00       690.0   523.0   435.0   764.0   4.0

[24 rows x 32 columns]

## 4. Isomman tiedoston lukemien ja analysointi
Testaile isomman tiedoston lukemista tiedostolla (200 Mt):  
http://gpspekka.kapsi.fi/trafi56.zip

Kannattanee tallentaa tiedosto ensin omalle koneelle, jotta testailuvaiheessa ei tarvitse ladata sitä verkon yli joka kerta. Tiedostoa ei tarvitse purkaa.

Tiedostossa on n. 5 miljoonaa riviä "kaikkien liikennekäytössä olevien ajoneuvojen rekisteröinti-, hyväksyntä- ja teknisiä tietoja Trafin ylläpitämästä ajoneuvoliikennerekisteristä."

Data on puolipisteellä eroteltua, ja lukeminen vaatii (ilmeisesti) read_csv:lle parametrin `encoding='latin_1'`.

Aloita testailu antamalla read_csv:lle parametriksi vaikka `nrows=1000` jolloin se lukee vain 1000 ensimmäistä riviä, joilla voit tutkia esim. sarakeotsikoita. Kokeile sitten kuinka paljon rivejä saat mielekkäästi luettua kasvattamalla nrows-arvoa. Muista tallentaa tiedosto ennen kokeiluja, jotta systeemin kaatumien ei vie aikaisempia tehtäviäsi.

Kellota lukuoperaatio lisäämällä lukevan solun 1. riviksi `%%time`.

Kun olet saanut luettua "paljon"/kaikki dataa, tee sitten uuteen soluun jotain hakuja/koonteja/ryhmittelyjä (siksi uuteen soluun, että koodin ajaminen ei lue tiedostoa joka kerta uudestaan.)

Selvitä vaikka:  
* kuinka monta (vielä liikennekäytössä eli tiedostossa olevaa) ajoneuvoa käyttöönotettiin (kayttoonottopvm) 18-vuotissyntymäpäivänäsi  


* mikä on viiden kärki kentän merkkiSelvakielinen lukumäärissä  


* tee uusi sarake rekvuosi, johon luet 4 ensimmäistä merkkiä kentästä ensirekisterointipvm. Ristiintaulukoi sitten kentän sahkohybridi prosenttiosuudet (True/False) rekvuoden mukaan vuodesta 2001 eteenpäin.

In [144]:
%%time
import pandas as pd

df=pd.read_csv('c:/TEMP/trafi56.zip', encoding='latin_1', sep=";", low_memory=False)

df

Wall time: 23.6 s

,ajoneuvoluokka,ensirekisterointipvm,ajoneuvoryhma,ajoneuvonkaytto,variantti,versio,kayttoonottopvm,vari,ovienLukumaara,korityyppi,...,vaihteidenLkm,kaupallinenNimi,voimanvalJaTehostamistapa,tyyppihyvaksyntanro,yksittaisKayttovoima,kunta,Co2,matkamittarilukema,valmistenumero2,jarnro
0,MUU,NaN,21.0,01,NaN,NaN,19670000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,01,91.0,NaN,NaN,NaN,1
1,MUU,1976-09-01,13.0,01,NaN,NaN,19760000,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,893.0,NaN,NaN,NaN,2
2,M1,1984-07-09,NaN,01,NaN,NaN,19840000,1,NaN,NaN,...,NaN,FIESTA,5.0,NaN,01,564.0,NaN,NaN,NaN,3
3,MUU,1983-09-22,13.0,01,NaN,NaN,19830000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,734.0,NaN,NaN,NaN,4
4,O1,1994-02-09,1.0,01,NaN,NaN,19940209,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,761.0,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5054740,M1,2019-03-29,NaN,05,85,B195,20150306,9,4.0,AB,...,1.0,Model S,12.0,e4*2007/46*0667*02,04,837.0,NaN,108299.0,5YJSA6H11E,5054741
5054741,O1,2019-03-29,1.0,01,02B,SGV,20190329,NaN,NaN,DC,...,NaN,NaN,NaN,e27*2007/46*0250*01,NaN,109.0,NaN,NaN,NaN,5054742
5054742,O1,2019-03-29,1.0,01,02B,SGV,20190329,NaN,NaN,DC,...,NaN,NaN,NaN,e27*2007/46*0250*01,NaN,837.0,NaN,NaN,NaN,5054743
5054743,MA,2019-03-30,107.0,01,NaN,NaN,20190330,NaN,NaN,NaN,...,NaN,Ranger Pro 900 Ace,2.0,NaN,01,595.0,NaN,588.0,NaN,5054744
5054744,M1G,2019-03-30,NaN,01,DZ69,DZ6944??,20090416,0,4.0,AC,...,6.0,XC60,5.0,e9*01/116*0068*01,02,851.0,199.0,247043.0,YV1DZ69449,5054745

In [39]:
# ensirekisteröintejä (rivejä) 3.5.1996
df[df['ensirekisterointipvm']=='1996-05-03'].count().max()

351

In [46]:
#toinen tapa
len(df[df['ensirekisterointipvm']=='1996-05-03'].index)

351

In [77]:
# viiden kärki merkeissä
df['merkkiSelvakielinen'].value_counts().head(5)

Toyota           431928
Ford             280639
Volkswagen       269289
Volvo            261573
Mercedes-Benz    233640
Name: merkkiSelvakielinen, dtype: int64

In [145]:
# sähköhybridien %-osuudet
df['rekvuosi']=df['ensirekisterointipvm'].str[0:4]
df['rekvuosi']=df['rekvuosi'].fillna('0')
df['rekvuosi']=df['rekvuosi'].astype(int)
df.loc[df['rekvuosi']>2000,'rekv']=df['rekvuosi']
pd.crosstab(df['sahkohybridi'],df['rekv'], normalize='columns').applymap("{:.3%}".format)

rekv,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
sahkohybridi,,,,,,,,,,,,,,,,,,,
False,100.000%,100.000%,100.000%,99.993%,100.000%,99.993%,100.000%,99.983%,99.921%,99.242%,98.146%,96.768%,94.491%,97.805%,97.834%,96.462%,93.524%,90.010%,87.421%
True,0.000%,0.000%,0.000%,0.007%,0.000%,0.007%,0.000%,0.017%,0.079%,0.758%,1.854%,3.232%,5.509%,2.195%,2.166%,3.538%,6.476%,9.990%,12.579%

## 5. Jalkapalloa
Tiedostossa https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/epl4.txt  on Englannin Valioliigan ottelutulokset kauden 2018-2019 loppuun. Käsittelyn helpottamiseksi siinä on laskettu valmiiksi koti- ja vierasjoukkueiden saamat pisteet ottelusta (3, 1 tai 0).

Tiedostossa https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/sijat.txt on joukkueiden loppusijoitukset kausittain. 

Ensimmäisestä tiedostosta pitäisi saada koostettua DataFrame, jossa on tieto **kuinka monta pistettä kukin joukkue on saanut kunkin kauden 15 ensimmäisestä ottelustaan**

Toista tiedostoa hyväksi käyttäen pitäisi sitten etsiä vastaus kysymykseen **mitkä ovat olleet suurimmat erot (eniten jäljessä) neljänteen sijaan 15 ottelun jälkeen joukkueilla, jotka ovat sijoittuneet kauden lopussa neljän parhaan joukkoon?**

* laske jokaiselle joukkueelle jokaiselle kaudelle kuinka paljon pisteitä on kauden 15 ensimmäisestä pelistä
* laske jokaiselle kaudelle paljonko on neljänneksi suurin pistemäärä (15 ensimmäisen pelin pistemääristä)
* laske jokaiselle joukkueelle jokaiselle kaudelle paljonko ero on ollut tähän neljänteen pistemäärään
* suodata mukaan vain ne joukkueet, jotka ko. kaudella ovat loppusijoituksissa 4 parhaan joukossa ja laijittele näistä eroista suurimmat (eniten 4 sijaa jäljessä olleet).

Alkua 1. vaiheesta (15 pelin pistemääristä):  

```
Season       1993-1994  1994-1995  1995-1996  1996-1997  1997-1998  1998-1999
Team                                                                            
Arsenal           26.0       19.0       28.0       31.0       27.0       25.0   
Aston Villa       29.0       13.0       27.0       24.0       18.0       30.0   
Barnsley           NaN        NaN        NaN        NaN       13.0        NaN   
Birmingham         NaN        NaN        NaN        NaN        NaN        NaN   
Blackburn         26.0       33.0       18.0       12.0       30.0        9.0   
```

Vastaus kysymykseen:  
```
 		 	
Season 	     Team          ero_neloseen  loppusija
2001-2002 	  Man United    6 	        3
2012-2013 	  Arsenal       5 	        4
2017-2018 	  Tottenham     4 	        3
2000-2001 	  Leeds 	    4 	        4
2014-2015 	  Arsenal       4 	        3
```

*Ottelusiirtojen yms. vuoksi joukkeet eivät ole pelanneet samaa tahtia, joten "ero 4. sijaan 15 pelin jälkeen" ei ole ollut välttämättä minkään päivän sarjataulukon tilanne (eri joukkueet ovat saaneet 15 peliä pelattua eri aikoina), vaan tässä lasketaan vain jokaiselta joukkueelta sen 15 ensimmäistä ottelua kultakin kaudelta*.

In [67]:
%%time
import pandas as pd

df=pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/epl4.txt', index_col=[2,0])
df2=pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananal2k2020/kerta4/sijat.txt')


#kuinka monta pistettä kukin joukkue on saanut kunkin kauden 15 ensimmäisestä ottelustaan
df['Points']=df['HomePoints']+df['AwayPoints']
#pd.crosstab(df['HomePoints'],df['Season'])
df3 = df.sum(level=[0,1]).unstack()['Points']
df3

Wall time: 334 ms

Season,1993-1994,1994-1995,1995-1996,1996-1997,1997-1998,1998-1999,1999-2000,2000-2001,2001-2002,2002-2003,...,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019
HomeTeam,,,,,,,,,,,,,,,,,,,,,
Arsenal,55.0,54.0,50.0,52.0,55.0,52.0,54.0,54.0,53.0,55.0,...,55.0,53.0,53.0,52.0,52.0,52.0,53.0,54.0,55.0,54.0
Aston Villa,58.0,54.0,52.0,52.0,54.0,54.0,49.0,49.0,50.0,55.0,...,49.0,50.0,50.0,52.0,54.0,51.0,52.0,NaN,NaN,NaN
Barnsley,NaN,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Birmingham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,...,48.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blackburn,58.0,61.0,55.0,53.0,53.0,52.0,NaN,NaN,51.0,50.0,...,51.0,50.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blackpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bolton,NaN,NaN,53.0,NaN,49.0,NaN,NaN,NaN,50.0,49.0,...,51.0,52.0,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bournemouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,52.0,53.0,52.0,52.0
Bradford,NaN,NaN,NaN,NaN,NaN,NaN,49.0,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brighton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,52.0
Burnley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.0,NaN,NaN,NaN,NaN,50.0,NaN,54.0,52.0,55.0
Cardiff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,NaN,55.0
Charlton,NaN,NaN,NaN,NaN,NaN,50.0,NaN,52.0,51.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chelsea,58.0,56.0,50.0,49.0,55.0,51.0,52.0,54.0,53.0,52.0,...,56.0,54.0,54.0,52.0,54.0,53.0,48.0,57.0,53.0,51.0
Coventry,56.0,56.0,50.0,49.0,48.0,51.0,56.0,50.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crystal Palace,NaN,57.0,NaN,NaN,52.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,54.0,54.0,54.0,55.0,52.0,52.0
Derby,NaN,NaN,NaN,51.0,54.0,50.0,54.0,50.0,53.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Everton,59.0,54.0,52.0,53.0,52.0,49.0,48.0,49.0,53.0,52.0,...,51.0,50.0,54.0,51.0,54.0,50.0,52.0,53.0,53.0,53.0
Fulham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,54.0,...,54.0,50.0,52.0,54.0,54.0,NaN,NaN,NaN,NaN,54.0
Huddersfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,54.0
Hull,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.0,NaN,NaN,NaN,53.0,52.0,NaN,53.0,NaN,NaN
Ipswich,55.0,60.0,NaN,NaN,NaN,NaN,NaN,52.0,53.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Leeds,57.0,58.0,54.0,50.0,52.0,52.0,55.0,54.0,51.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Leicester,NaN,57.0,NaN,52.0,47.0,51.0,54.0,53.0,50.0,NaN,...,NaN,NaN,NaN,NaN,NaN,52.0,51.0,53.0,51.0,54.0
Liverpool,59.0,58.0,53.0,51.0,55.0,52.0,53.0,53.0,52.0,49.0,...,54.0,53.0,48.0,51.0,56.0,52.0,49.0,52.0,50.0,55.0
Man City,53.0,56.0,50.0,NaN,NaN,NaN,NaN,54.0,NaN,55.0,...,53.0,53.0,56.0,54.0,56.0,54.0,55.0,50.0,55.0,57.0
Man United,57.0,59.0,53.0,52.0,53.0,53.0,53.0,55.0,55.0,55.0,...,56.0,56.0,55.0,57.0,54.0,55.0,52.0,47.0,55.0,51.0
Middlesbrough,NaN,NaN,54.0,52.0,NaN,48.0,52.0,50.0,52.0,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.0,NaN,NaN
Newcastle,59.0,57.0,56.0,54.0,52.0,51.0,52.0,53.0,54.0,55.0,...,NaN,49.0,52.0,56.0,54.0,52.0,50.0,NaN,53.0,56.0
Norwich,54.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51.0,50.0,51.0,NaN,52.0,NaN,NaN,NaN
Nott'm Forest,NaN,57.0,51.0,48.0,NaN,50.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oldham,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portsmouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QPR,56.0,60.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,52.0,49.0,NaN,52.0,NaN,NaN,NaN,NaN
Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN
Sheffield United,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sheffield Weds,56.0,56.0,52.0,47.0,52.0,52.0,54.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Southampton,61.0,54.0,50.0,50.0,56.0,53.0,53.0,55.0,52.0,49.0,...,NaN,NaN,NaN,50.0,51.0,53.0,54.0,51.0,50.0,49.0
Stoke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.0,53.0,49.0,50.0,51.0,54.0,53.0,51.0,52.0,NaN
Sunderland,NaN,NaN,NaN,51.0,NaN,NaN,51.0,50.0,50.0,55.0,...,50.0,52.0,50.0,49.0,54.0,49.0,51.0,52.0,NaN,NaN
Swansea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,50.0,49.0,52.0,52.0,51.0,54.0,54.0,NaN
Swindon,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tottenham,55.0,58.0,52.0,53.0,49.0,50.0,54.0,51.0,53.0,53.0,...,55.0,48.0,54.0,52.0,54.0,54.0,51.0,55.0,53.0,55.0
Watford,NaN,NaN,NaN,NaN,NaN,NaN,53.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,51.0,53.0,51.0,54.0
West Brom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,...,NaN,51.0,54.0,53.0,48.0,53.0,52.0,55.0,48.0,NaN
West Ham,56.0,57.0,52.0,51.0,53.0,54.0,52.0,51.0,53.0,50.0,...,52.0,52.0,NaN,51.0,54.0,53.0,50.0,53.0,51.0,53.0
Wigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50.0,49.0,50.0,51.0,NaN,NaN,NaN,NaN,NaN,NaN
Wimbledon,58.0,58.0,51.0,51.0,51.0,50.0,50.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wolves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51.0,53.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN,53.0

In [2]:
df3.rank(axis=0, ascending=False)

Season,1993-1994,1994-1995,1995-1996,1996-1997,1997-1998,1998-1999,1999-2000,2000-2001,2001-2002,2002-2003,...,2009-2010,2010-2011,2011-2012,2012-2013,2013-2014,2014-2015,2015-2016,2016-2017,2017-2018,2018-2019
HomeTeam,,,,,,,,,,,,,,,,,,,,,
Arsenal,17.5,20.5,18.0,7.0,3.0,7.0,5.0,4.5,6.0,3.5,...,3.5,5.0,9.5,7.5,15.0,13.0,4.5,6.0,2.0,9.0
Aston Villa,6.5,20.5,10.5,7.0,5.5,1.5,18.5,19.5,18.0,3.5,...,19.0,14.5,16.5,7.5,7.5,17.0,8.5,NaN,NaN,NaN
Barnsley,NaN,NaN,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Birmingham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.5,...,20.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blackburn,6.5,1.0,2.0,3.0,8.5,7.0,NaN,NaN,14.0,16.0,...,13.5,14.5,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blackpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bolton,NaN,NaN,6.0,NaN,17.5,NaN,NaN,NaN,18.0,19.0,...,13.5,9.5,9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bournemouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.5,10.5,11.0,16.0
Bradford,NaN,NaN,NaN,NaN,NaN,NaN,18.5,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brighton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,16.0
Burnley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.5,NaN,NaN,NaN,NaN,18.5,NaN,6.0,11.0,4.5
Cardiff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,4.5
Charlton,NaN,NaN,NaN,NaN,NaN,16.0,NaN,10.5,14.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chelsea,6.5,15.5,18.0,17.5,3.0,11.5,13.5,4.5,6.0,12.5,...,1.5,2.0,6.0,7.5,7.5,7.5,20.0,1.0,6.5,18.5
Coventry,13.0,15.5,18.0,17.5,19.0,11.5,1.0,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crystal Palace,NaN,11.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7.5,3.5,2.5,3.0,11.0,16.0
Derby,NaN,NaN,NaN,12.0,5.5,16.0,5.0,16.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Everton,3.0,20.5,10.5,3.0,13.0,19.0,20.0,19.5,6.0,12.5,...,13.5,14.5,6.0,11.5,7.5,18.5,8.5,10.5,6.5,13.0
Fulham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,8.0,...,6.0,14.5,12.0,3.5,7.5,NaN,NaN,NaN,NaN,9.0
Huddersfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,9.0
Hull,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.5,NaN,NaN,NaN,13.0,13.0,NaN,10.5,NaN,NaN
Ipswich,17.5,2.5,NaN,NaN,NaN,NaN,NaN,10.5,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Leeds,9.5,6.5,3.5,15.5,13.0,7.0,2.0,4.5,14.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Leicester,NaN,11.0,NaN,7.0,20.0,11.5,5.0,8.0,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,14.0,10.5,15.0,9.0
Liverpool,3.0,6.5,6.0,12.0,3.0,7.0,9.5,8.0,11.0,19.0,...,6.0,5.0,20.0,11.5,1.5,13.0,19.0,14.5,17.5,4.5
Man City,21.5,15.5,18.0,NaN,NaN,NaN,NaN,4.5,NaN,3.5,...,8.0,5.0,1.5,3.5,1.5,3.5,1.0,19.0,2.0,1.0
Man United,9.5,4.0,6.0,7.0,8.5,3.5,9.5,1.5,1.0,3.5,...,1.5,1.0,3.0,1.0,7.5,1.0,8.5,20.0,2.0,18.5
Middlesbrough,NaN,NaN,3.5,7.0,NaN,20.0,13.5,16.0,11.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN
Newcastle,3.0,11.0,1.0,1.0,13.0,11.5,13.5,8.0,2.0,3.5,...,NaN,18.0,12.0,2.0,7.5,13.0,17.5,NaN,6.5,2.0
Norwich,20.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.0,15.0,18.0,NaN,8.5,NaN,NaN,NaN
Nott'm Forest,NaN,11.0,14.5,19.0,NaN,16.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Oldham,17.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portsmouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QPR,13.0,2.5,10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.0,18.5,NaN,13.0,NaN,NaN,NaN,NaN
Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,18.5,NaN,NaN,NaN,NaN,NaN,NaN
Sheffield United,21.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sheffield Weds,13.0,15.5,10.5,20.0,13.0,7.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Southampton,1.0,20.5,18.0,15.5,1.0,3.5,9.5,1.5,11.0,19.0,...,NaN,NaN,NaN,15.0,18.0,7.5,2.5,17.0,17.5,20.0
Stoke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.5,5.0,19.0,15.0,18.0,3.5,4.5,17.0,11.0,NaN
Sunderland,NaN,NaN,NaN,12.0,NaN,NaN,16.0,16.0,18.0,3.5,...,17.5,9.5,16.5,18.5,7.5,20.0,14.0,14.5,NaN,NaN
Swansea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16.5,18.5,15.0,13.0,14.0,6.0,4.0,NaN
Swindon,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tottenham,17.5,6.5,10.5,3.0,17.5,16.0,5.0,12.5,6.0,10.0,...,3.5,20.0,6.0,7.5,7.5,3.5,14.0,3.0,6.5,4.5
Watford,NaN,NaN,NaN,NaN,NaN,NaN,9.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,10.5,15.0,9.0
West Brom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.5,...,NaN,12.0,6.0,5.0,20.0,7.5,8.5,3.0,20.0,NaN
West Ham,13.0,11.0,10.5,12.0,8.5,1.5,13.5,12.5,6.0,16.0,...,9.5,9.5,NaN,11.5,7.5,7.5,17.5,10.5,15.0,13.0
Wigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.5,18.0,16.5,11.5,NaN,NaN,NaN,NaN,NaN,NaN
Wimbledon,6.5,6.5,14.5,12.0,16.0,16.0,17.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wolves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.5,5.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,13.0